<div id="free_videos">
	
	<h1>Video-video ceramah percuma</h1>

	<ul class = "thumbnails">
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz1.jpg") %>
				<h4>Dua Kalimah Syahadat - 1</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn"><%= link_to 'Tonton', video1_path %> </button>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz2.jpg") %>
				<h4>Dua Kalimah Syahadat - 2</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Tonton</button>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz2.jpg") %>
				<h4>Dua Kalimah Syahadat - 3</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Tonton</button>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz1.jpg") %>
				<h4>Dua Kalimah Syahadat - 4</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Tonton</button>
				</div>
			</div>
		</li>
	</ul>
</div>

<div id="subscribe_videos">
	<h1>Video-video ceramah untuk langganan</h1>

	<ul class = "thumbnails">
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz1.jpg") %>
				<h4>Dua Kalimah Syahadat - 5</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Langgan</button>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz2.jpg") %>
				<h4>Dua Kalimah Syahadat - 6</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Tonton</button>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz2.jpg") %>
				<h4>Dua Kalimah Syahadat - 7</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Tonton</button>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<%= image_tag("ustaz1.jpg") %>
				<h4>Dua Kalimah Syahadat - 8</h4>
				<p>Dua kalimah syahadat adalah penting
					soghf;og gjgo ogifo;ghrhewr0
					owhgorhg 
				</p>
				<div class="btn-group">
					<button class="btn">Tonton</button>
				</div>
			</div>
		</li>
	</ul>
</div>