<div id="moderator">
	<h1>Masuk ke laman moderator</h1>
	
	<% if flash[:error] %>
		<div class="span10 alert alert-error">
			<a class="close" data-dismiss="alert">×</a>
				<%= flash[:error] %>
		</div>
	<% end %>
	
	<%= form_tag sessions_path, :class => "form-horizontal" do %>
	
		<div class="control-group">
	    	<%= label_tag :email, "Emel moderator", :class => "control-label" %>
			<div class="controls">
			    <%= text_field_tag :email, params[:email] %>
			</div>
		 </div>
	
	  	<div class="control-group">
		    <%= label_tag :password, "Kata laluan", :class => "control-label" %>
			<div class="controls">
			    <%= password_field_tag :password %>
			</div>
		</div>
		
		<%= submit_tag "Masuk", :class => "offset2 btn btn-large btn-primary" %>
	<% end %>
</div>
