<div id="lecture">
	
	<div id="lecture_main" class="span9">
		<%= video_tag [	"http://s3-ap-southeast-1.amazonaws.com/ustazvideos/#{@lecture.video_name}.mp4",
						"http://s3-ap-southeast-1.amazonaws.com/ustazvideos/#{@lecture.video_name}.ogv",
		                "http://s3-ap-southeast-1.amazonaws.com/ustazvideos/#{@lecture.video_name}.webm"
		                 ], 
		            :class => "sublime", 
		            :width => 640, :height => 360,
				    :preload => "none",
		            :poster => @lecture.poster_url %>

		<div class="alert alert-block tip">
			<a class="close" data-dismiss="alert">×</a>
		  	<h4 class="alert-heading">Sudah klik butang play, tapi video masih belum bermain?</h4> 
			Secara <em>default</em> video akan dimainkan dalam HTML5 player. Namun sekiranya terlalu 
			lama menunggu, klik-kanan pada video di atas untuk tukar ke Flash Player. Opsyen ini 
			hanya boleh dilakukan di atas komputer dan komputer riba sahaja. 
		</div>	
	
		<div class="clearfix"></div>
		
		<div class="fb-like" data-href="http://video.abdyasin.com" data-send="true" data-width="700" data-show-faces="false" data-font="verdana"></div>
		<div class="note">	
			<h1 class="title"><%= @lecture.title %></h1>

			<p>Ceramah dirakam pada <%= @lecture.recorded_at.strftime('%d hb %b %Y') %> dan 
			
			<% if @lecture.minutes > 60  %>
				tempoh ceramah adalah <%= @lecture.minutes.to_i/60 %> jam 
				<%= @lecture.minutes.to_i - 60 %> minit
			<% else  %>
				tempoh ceramah adalah <%= @lecture.minutes.to_i %> minit
			<% end %>
			</p>
			<br/>
		
			<div id="markdown_text">
				<%= render_text(@lecture.note) %>			
			</div>

		</div>
	
	</div>
	
	<%= render :partial => 'layouts/sidebar_promo' %>

</div>