<!DOCTYPE html>
<html lang ="en">
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://cdn.sublimevideo.net/js/aa8czafz.js" %>
  <%= render :partial => 'layouts/google_analytics' %>
</head>
<body>

<div id="layout" class="container">
	<%= render :partial => 'layouts/navigation' %>
	<%= yield %>
	<div id="layout_footer"></div>
</div>

<div id="footer">
	<div class="container">	
	<i class="icon-heart"></i>
	<span>Dibina dengan teliti melalui petunjuk Allah oleh <a href="http://www.geligalabs.com/blog">
		Geliga Labs</a>.</span>
	</div>
</div>


</body>
</html>